@using GardenIt.Models.Engine;
@model Plant

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-sm-7">
        <h3>@Model.Name</h3>
        <br/>
        <div class="image-holder-details">
            <img class="card-img-top plant-image" src="~/image/@Model.ImageName" alt="@Model.Name"/>
        </div>
        <dl class="row">
            <dt class="col-sm-4">Type</dt>
            <dd class="col-sm-8">@Model.Type</dd>

            <dt class="col-sm-4">Date Added</dt>
            <dd class="col-sm-8">@Model.DateAdded</dd>

            <dt class="col-sm-4">Days between Watering</dt>
            <dd class="col-sm-8">@Model.DaysBetweenWatering</dd>

            <dt class="col-sm-4">Next Watering Date</dt>
            <dd class="col-sm-8">@Model.NextWateringDate</dd>

            <dt class="col-sm-4">Notes</dt>
            <dd class="col-sm-8">@Model.Notes</dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <span>&nbsp;&nbsp;</span>
            <form asp-action="Delete" style="display:inline">
                <input type="hidden" asp-for="Id"/>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>

    </div>
    <div class="col-sm-5">
        <table class="table watering-table">
            <thead>
                <tr>
                    <th scope="col">
                        <span>Waterings</span>
                        <a asp-action="Water" style="float:right" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Water</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var watering in Model.Waterings.OrderByDescending(x => x.WateringDate)) {
                    <tr>
                        <td>
                            @watering.WateringDate.ToString("MMM d, yyyy hh:mmtt")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>

@* <hr/>
<div>
    <a asp-action="Index">All Plants</a>
</div> *@